doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Panagea - Premium site template for travel agencies, hotels and restaurant listing.')
    meta(name='author' content='Ansonika')
    title
      | Panagea | Premium site template for travel agencies, hotels and restaurant listing.
    // Favicons
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    link(rel='apple-touch-icon' type='image/x-icon' href='img/apple-touch-icon-57x57-precomposed.png')
    link(rel='apple-touch-icon' type='image/x-icon' sizes='72x72' href='img/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon' type='image/x-icon' sizes='114x114' href='img/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon' type='image/x-icon' sizes='144x144' href='img/apple-touch-icon-144x144-precomposed.png')
    // GOOGLE WEB FONT
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
    // BASE CSS
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    link(href='css/vendors.css' rel='stylesheet')
    // YOUR CUSTOM CSS
    link(href='css/custom.css' rel='stylesheet')
  body
    #page
      header.header.menu_fixed
        #preloader
          div(data-loader='circle-side')
        // /Page Preload
        #logo
          a(href='index.html')
            img.logo_normal(src='img/logo.svg' width='150' height='36' alt='')
            img.logo_sticky(src='img/logo_sticky.svg' width='150' height='36' alt='')
        ul#top_menu
          li
            a.cart-menu-btn(href='cart-1.html' title='Cart')
              strong 4
          li
            a#sign-in.login(href='#sign-in-dialog' title='Sign In') Sign In
          li
            a.wishlist_bt_top(href='wishlist.html' title='Your wishlist') Your wishlist
        // /top_menu
        a.btn_mobile(href='#menu')
          #hamburger.hamburger.hamburger--spin
            .hamburger-box
              .hamburger-inner
        nav#menu.main-menu
          ul
            li
              span
                a(href='#0') Home
              ul
                li
                  a(href='index.html') Home Default
                li
                  span
                    a(href='#0') Sliders - Parallax
                  ul
                    li
                      a(href='index-11.html') Revolution Slider 1
                    li
                      a(href='index-18.html') Revolution Slider 2
                    li
                      a(href='index-2.html') Flex Slider
                    li
                      a(href='index-4.html') Layer Slider
                    li
                      a(href='index-12.html') Parallax Youtube
                    li
                      a(href='index-13.html') Parallax Vimeo
                    li
                      a(href='index-14.html') Parallax Mp4 Video
                    li
                      a(href='index-15.html') Parallax Video Fullscreen
                    li
                      a(href='index-16.html') Parallax Image
                li
                  a(href='index-17.html') Text Rotator
                li
                  a(href='index-3.html') Video Fallback Mobile
                li
                  a(href='index-5.html') Search 2
                li
                  a(href='index-10.html')
                    | Search 3 
                    strong.badge.badge-danger New!
                li
                  a(href='index-7.html') Search 4
                li
                  a(href='index-6.html') GDPR (EU law)
                li
                  a(href='index-8.html') Address Autocomplete
                li
                  a(href='index-9.html') Home AirBnb
            li
              span
                a(href='#0') Tours
              ul
                li
                  span
                    a(href='#0') Tours Grid
                  ul
                    li
                      a(href='tours-grid-isotope.html') Tours Grid Isotope
                    li
                      a(href='tours-grid-sidebar.html') Tours Grid Sidebar
                    li
                      a(href='tours-grid-sidebar-2.html') Tours Grid Sidebar 2
                    li
                      a(href='tours-grid.html') Tours Grid Simple
                li
                  span
                    a(href='#0') Tours List
                  ul
                    li
                      a(href='tours-list-isotope.html') Tours List Isotope
                    li
                      a(href='tours-list-sidebar.html') Tours List Sidebar
                    li
                      a(href='tours-list-sidebar-2.html') Tours List Sidebar 2
                    li
                      a(href='tours-list.html') Tours List Simple
                li
                  a(href='tours-half-screen-map.html') Tours Half Screen Map
                li
                  a(href='tour-detail.html') Tour Detail
                li
                  a(href='detail-working-contact-form.html')
                    | Detail Contact Form 
                    strong.badge.badge-danger New!
                li
                  span
                    a(href='#0') Open Street Map
                  ul
                    li
                      a(href='tours-half-screen-map-leaflet.html') Tours Half Screen Map
                    li
                      a(href='tours-list-isotope-leaflet.html') Tours Grid Isotope
                    li
                      a(href='tours-list-sidebar-leaflet.html') Tours Grid Sidebar
                    li
                      a(href='tours-list-sidebar-2-leaflet.html') Tours Grid Sidebar 2
                    li
                      a(href='tours-list-leaflet.html') Tours Grid Simple
                    li
                      a(href='tours-list-isotope-leaflet.html') Tours List Isotope
                    li
                      a(href='tours-list-sidebar-leaflet.html') Tours List Sidebar
                    li
                      a(href='tours-list-sidebar-2-leaflet.html') Tours List Sidebar 2
                    li
                      a(href='tours-list-leaflet.html') Tours List Simple
                    li
                      a(href='tour-detail-leaflet.html') Tour Detail
            li
              span
                a(href='#0') Hotels
              ul
                li
                  span
                    a(href='#0') Hotel Grid
                  ul
                    li
                      a(href='hotels-grid-isotope.html') Hotel Grid Isotope
                    li
                      a(href='hotels-grid-sidebar.html') Hotel Grid Sidebar
                    li
                      a(href='hotels-grid-sidebar-2.html') Hotel Grid Sidebar 2
                    li
                      a(href='hotels-grid.html') Hotel Grid Simple
                li
                  span
                    a(href='#0') Hotel List
                  ul
                    li
                      a(href='hotels-list-isotope.html') Hotel List Isotope
                    li
                      a(href='hotels-list-sidebar.html') Hotel List Sidebar
                    li
                      a(href='hotels-list-sidebar-2.html') Hotel List Sidebar 2
                    li
                      a(href='hotels-list.html') Hotel List Simple
                li
                  a(href='hotels-half-screen-map.html') Hotel Half Screen Map
                li
                  a(href='hotel-detail.html') Hotel Detail
            li
              span
                a(href='#0') Eat & Drink
              ul
                li
                  span
                    a(href='#0') Restaurant Grid
                  ul
                    li
                      a(href='restaurants-grid-isotope.html') Restaurant Grid Isotope
                    li
                      a(href='restaurants-grid-sidebar.html') Restaurant Grid Sidebar
                    li
                      a(href='restaurants-grid-sidebar-2.html') Restaurant Grid Sidebar 2
                    li
                      a(href='restaurants-grid.html') Restaurant Grid simple
                li
                  span
                    a(href='#0') Restaurant List
                  ul
                    li
                      a(href='restaurants-list-isotope.html') Restaurant List Isotope
                    li
                      a(href='restaurants-list-sidebar.html') Restaurant List Sidebar
                    li
                      a(href='restaurants-list-sidebar-2.html') Restaurant List Sidebar 2
                    li
                      a(href='restaurants-list.html') Restaurant List Simple
                li
                  a(href='restaurants-half-screen-map.html') Half Screen Map
                li
                  a(href='restaurant-detail.html') Restaurant Detail
                li
                  a(href='restaurant-detail-2.html') Restaurant Time Picker
            li
              span
                a(href='adventure.html') Adventure
            li
              span
                a(href='#0') Pages
              ul
                li
                  a(href='about.html') About
                li
                  a(href='media-gallery.html') Media gallery
                li
                  a(href='help.html') Help Section
                li
                  a(href='faq.html') Faq Section
                li
                  a(href='wishlist.html') Wishlist page
                li
                  a(href='contacts.html') Contacts
                li
                  a(href='login.html') Login
                li
                  a(href='register.html') Register
                li
                  a(href='blog.html') Blog
                li
                  a(href='bootstrap-modal.html')
                    | Bootstrap Modal 
                    strong.badge.badge-danger New!
                li
                  a(href='modal-version-2.html')
                    | Another Modal 
                    strong.badge.badge-danger New!
                li
                  a(href='pricing-tables-2.html')
                    | Pricing Tables 1 
                    strong.badge.badge-danger New!
                li
                  a(href='pricing-tables-3.html')
                    | Pricing Tables 2 
                    strong.badge.badge-danger New!
            li
              span
                a(href='#0') Extra
              ul
                li
                  a(href='menu-options.html') Menu Position Options
                li
                  a(href='tour-detail-singlemonth-datepicker.html') Single month Datepicker
                li
                  a(href='404.html') 404 Error page
                li
                  a(href='cart-1.html') Cart page 1
                li
                  a(href='cart-2.html') Cart page 2
                li
                  a(href='cart-3.html') Cart page 3
                li
                  a(href='pricing-tables.html') Responsive pricing tables
                li
                  a(href='coming_soon/index.html') Coming soon
                li
                  a(href='invoice.html') Invoice
                li
                  a(href='icon-pack-1.html') Icon pack 1
                li
                  a(href='icon-pack-2.html') Icon pack 2
                li
                  a(href='icon-pack-3.html') Icon pack 3
                li
                  a(href='icon-pack-4.html') Icon pack 4
                li
                  a(href='hamburgers.html') Animated Hamburgers
            li
              span
                a(href='#0') Buy template
      // /header
      main
        section.hero_in.hotels
          .wrapper
            .container
              h1.fadeInUp
                span
                | Paris hotels grid
        // /hero_in
        .filters_listing.sticky_horizontal
          .container
            ul.clearfix
              li
                .switch-field
                  input#all(type='radio' name='listing_filter' value='all' checked='')
                  label(for='all') All
                  input#popular(type='radio' name='listing_filter' value='popular')
                  label(for='popular') Popular
                  input#latest(type='radio' name='listing_filter' value='latest')
                  label(for='latest') Latest
              li
                .layout_view
                  a.active(href='#0')
                    i.icon-th
                  a(href='hotels-list-isotope.html')
                    i.icon-th-list
              li
                a.btn_map(data-bs-toggle='collapse' href='#collapseMap' aria-expanded='false' aria-controls='collapseMap' data-text-swap='Hide map' data-text-original='View on map') View on map
          // /container
          // /filters
          #collapseMap.collapse
            #map.map
          // End Map
          .container.margin_60_35
            .wrapper-grid
              .row
                .col-xl-4.col-lg-6.col-md-6
                  .box_grid
                    figure
                      a.wish_bt(href='#0')
                      a(href='hotel-detail.html')
                        img.img-fluid(src='img/hotel_1.jpg' alt='' width='800' height='533')
                        .read_more
                          span Read more
                      small Paris Centre
                    .wrapper
                      .cat_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                      h3
                        a(href='hotel-detail.html') Park Hyatt Hotel
                      p
                        | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
                      span.price
                        | From 
                        strong $54
                        |  /per person
                    ul
                      li
                        i.ti-eye
                        |  164 views
                      li
                        .score
                          span
                            | Superb
                            em 350 Reviews
                          strong 8.9
                // /box_grid
                .col-xl-4.col-lg-6.col-md-6
                  .box_grid
                    figure
                      a.wish_bt(href='#0')
                      a(href='hotel-detail.html')
                        img.img-fluid(src='img/hotel_2.jpg' alt='' width='800' height='533')
                        .read_more
                          span Read more
                      small Paris Centre
                    .wrapper
                      .cat_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                      h3
                        a(href='hotel-detail.html') Mariott Hotel
                      p
                        | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
                      span.price
                        | From 
                        strong $124
                        |  /per person
                    ul
                      li
                        i.ti-eye
                        |  164 views
                      li
                        .score
                          span
                            | Good
                            em 350 Reviews
                          strong 7.0
                // /box_grid
                .col-xl-4.col-lg-6.col-md-6
                  .box_grid
                    figure
                      a.wish_bt(href='#0')
                      a(href='hotel-detail.html')
                        img.img-fluid(src='img/hotel_3.jpg' alt='' width='800' height='533')
                        .read_more
                          span Read more
                      small Paris Centre
                    .wrapper
                      .cat_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                      h3
                        a(href='hotel-detail.html') Lumiere Hotel
                      p
                        | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
                      span.price
                        | From 
                        strong $25
                        |  /per person
                    ul
                      li
                        i.ti-eye
                        |  164 views
                      li
                        .score
                          span
                            | Good
                            em 350 Reviews
                          strong 7.0
                // /box_grid
                .col-xl-4.col-lg-6.col-md-6
                  .box_grid
                    figure
                      a.wish_bt(href='#0')
                      a(href='hotel-detail.html')
                        img.img-fluid(src='img/hotel_4.jpg' alt='' width='800' height='533')
                        .read_more
                          span Read more
                      small Paris Centre
                    .wrapper
                      .cat_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                      h3
                        a(href='hotel-detail.html') Concorde Hotel
                      p
                        | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
                      span.price
                        | From 
                        strong $45
                        |  /per person
                    ul
                      li
                        i.ti-eye
                        |  164 views
                      li
                        .score
                          span
                            | Superb
                            em 350 Reviews
                          strong 9.0
                // /box_grid
                .col-xl-4.col-lg-6.col-md-6
                  .box_grid
                    figure
                      a.wish_bt(href='#0')
                      a(href='hotel-detail.html')
                        img.img-fluid(src='img/hotel_5.jpg' alt='' width='800' height='533')
                        .read_more
                          span Read more
                      small Paris Centre
                    .wrapper
                      .cat_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                      h3
                        a(href='hotel-detail.html') Louvre Hotel
                      p
                        | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
                      span.price
                        | From 
                        strong $65
                        |  /per person
                    ul
                      li
                        i.ti-eye
                        |  164 views
                      li
                        .score
                          span
                            | Good
                            em 350 Reviews
                          strong 7.5
                // /box_grid
                .col-xl-4.col-lg-6.col-md-6
                  .box_grid
                    figure
                      a.wish_bt(href='#0')
                      a(href='hotel-detail.html')
                        img.img-fluid(src='img/hotel_6.jpg' alt='' width='800' height='533')
                        .read_more
                          span Read more
                      small Paris Centre
                    .wrapper
                      .cat_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                        i.icon_star
                      h3
                        a(href='hotel-detail.html') Concorde Hotel
                      p
                        | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
                      span.price
                        | From 
                        strong $95
                        |  /per person
                    ul
                      li
                        i.ti-eye
                        |  164 views
                      li
                        .score
                          span
                            | Good
                            em 350 Reviews
                          strong 7.8
                // /box_grid
                // /row
                // /wrapper-grid
                p.text-center
                  a.btn_1.rounded.add_top_30(href='#0') Load more
          // /container
          .bg_color_1
            .container.margin_60_35
              .row
                .col-md-4
                  a.boxed_list(href='#0')
                    i.pe-7s-help2
                    h4 Need Help? Contact us
                    p Cum appareat maiestatis interpretaris et, et sit.
                .col-md-4
                  a.boxed_list(href='#0')
                    i.pe-7s-wallet
                    h4 Payments
                    p Qui ea nemore eruditi, magna prima possit.
                .col-md-4
                  a.boxed_list(href='#0')
                    i.pe-7s-note2
                    h4 Cancel Policy
                    p Hinc vituperata sed ut, pro laudem nonumes ex.
              // /row
              // /container
              // /bg_color_1
              // /main
              footer
                .container.margin_60_35
                  .row
                    .col-lg-5.col-md-12.pe-5
                      p
                        img(src='img/logo.svg' width='150' height='36' alt='')
                      p
                        | Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut delectus expetendis vis.
                      .follow_us
                        ul
                          li Follow us
                          li
                            a(href='#0')
                              i.ti-facebook
                          li
                            a(href='#0')
                              i.ti-twitter-alt
                          li
                            a(href='#0')
                              i.ti-google
                          li
                            a(href='#0')
                              i.ti-pinterest
                          li
                            a(href='#0')
                              i.ti-instagram
                    .col-lg-3.col-md-6.ms-lg-auto
                      h5 Useful links
                      ul.links
                        li
                          a(href='about.html') About
                        li
                          a(href='login.html') Login
                        li
                          a(href='register.html') Register
                        li
                          a(href='blog.html') News & Events
                        li
                          a(href='contacts.html') Contacts
                    .col-lg-3.col-md-6
                      h5 Contact with Us
                      ul.contacts
                        li
                          a(href='tel://61280932400')
                            i.ti-mobile
                            |  + 61 23 8093 3400
                        li
                          a(href='mailto:info@Panagea.com')
                            i.ti-email
                            |  info@Panagea.com
                      #newsletter
                        h6 Newsletter
                        #message-newsletter
                        form#newsletter_form(method='post' action='assets/newsletter.php' name='newsletter_form')
                          .form-group
                            input#email_newsletter.form-control(type='email' name='email_newsletter' placeholder='Your email')
                            input#submit-newsletter(type='submit' value='Submit')
                  // /row
                  hr
                  .row
                    .col-lg-6
                      ul#footer-selector
                        li
                          #lang-selector.styled-select
                            select
                              option(value='English' selected='') English
                              option(value='French') French
                              option(value='Spanish') Spanish
                              option(value='Russian') Russian
                        li
                          #currency-selector.styled-select
                            select
                              option(value='US Dollars' selected='') US Dollars
                              option(value='Euro') Euro
                        li
                          img(src='img/cards_all.svg' alt='')
                    .col-lg-6
                      ul#additional_links
                        li
                          a(href='#0') Terms and conditions
                        li
                          a(href='#0') Privacy
                        li
                          span © Panagea
              // /footer
              // page
              // Sign In Popup
              #sign-in-dialog.zoom-anim-dialog.mfp-hide
                .small-dialog-header
                  h3 Sign In
                form
                  .sign-in-wrapper
                    a.social_bt.facebook(href='#0') Login with Facebook
                    a.social_bt.google(href='#0') Login with Google
                    .divider
                      span Or
                    .form-group
                      label Email
                      input#email.form-control(type='email' name='email')
                      i.icon_mail_alt
                    .form-group
                      label Password
                      input#password.form-control(type='password' name='password' value='')
                      i.icon_lock_alt
                    .clearfix.add_bottom_15
                      .checkboxes.float-start
                        label.container_check
                          | Remember me
                          input(type='checkbox')
                          span.checkmark
                      .float-end.mt-1
                        a#forgot(href='javascript:void(0);') Forgot Password?
                    .text-center
                      input.btn_1.full-width(type='submit' value='Log In')
                    .text-center
                      | Don’t have an account? 
                      a(href='register.html') Sign up
                    #forgot_pw
                      .form-group
                        label Please confirm login email below
                        input#email_forgot.form-control(type='email' name='email_forgot')
                        i.icon_mail_alt
                      p
                        | You will receive an email containing a link allowing you to reset your password to a new preferred one.
                      .text-center
                        input.btn_1(type='submit' value='Reset Password')
                // form
                // /Sign In Popup
                #toTop
                // Back to top button
                // COMMON SCRIPTS
                script(src='js/common_scripts.js')
                script(src='js/main.js')
                script(src='assets/validate.js')
                // Map
                script(src='http://maps.googleapis.com/maps/api/js')
                script(src='js/markerclusterer.js')
                script(src='js/map_hotels.js')
                script(src='js/infobox.js')
