.sn-popup
	.sn-popup__heading
		span.d-none.d-lg-inline Выберите способ связи
		span.d-lg-none Напишите нам или закажите обратный звонок
	.sn-popup__content
		.sn-popup-contacts
			a(href="https://api.whatsapp.com/send/?phone=34677225316&amp;text&amp;app_absent=0" target="_blank").sn-popup-contacts__item.sn-popup-contact
				span.sn-popup-contact__icon.--whatsapp
				span.sn-popup-contact__name Написать в WhatsApp
			a(href="https://t.me/elbrusclimb" target="_blank").sn-popup-contacts__item.sn-popup-contact
				span.sn-popup-contact__icon.--telegram
				span.sn-popup-contact__name Написать в Telegram
			a(href="https://vk.me/club9690799" target="_blank").sn-popup-contacts__item.sn-popup-contact
				span.sn-popup-contact__icon.--vk
				span.sn-popup-contact__name Написать в VK
			script(data-b24-form="click/6/svj5fl" data-skip-moving="true").
				(function (w, d, u) {
					var s = d.createElement('script');
					s.async = true;
					s.src = u + '?' + (Date.now() / 180000 | 0);
					var h = d.getElementsByTagName('script')[0];
					h.parentNode.insertBefore(s, h);
				})(window, document, 'https://strahunet.com/upload/crm/form/loader_6_svj5fl.js');
			a(href="javascript:void(0);").sn-popup-contacts__item.sn-popup-contact.d-none.d-md-flex.b24-callback-form-btn
				span.sn-popup-contact__icon.--phone
				span.sn-popup-contact__name Заказать звонок
		script(data-b24-form="click/6/svj5fl" data-skip-moving="true").
			(function (w, d, u) {
				var s = d.createElement('script');
				s.async = true;
				s.src = u + '?' + (Date.now() / 180000 | 0);
				var h = d.getElementsByTagName('script')[0];
				h.parentNode.insertBefore(s, h);
			})(window, document, 'https://strahunet.com/upload/crm/form/loader_6_svj5fl.js');
		a(href="javascript:void(0);").sn-popup-btns.d-md-none.b24-callback-form-btn
			.sn-btn.--default Заказать звонок