.sn-popup.--callback-contact
	.sn-popup__heading
		span Оставьте номер вашего телефона, и наш менеджер свяжется с вами
	form.sn-popup__content.js-callback-contact-form
		.sn-popup-form
			.sn-input-group
				input.sn-form-control(type="text", name="name", placeholder="Имя")
				small Заполните поле
				button.sn-input-group__clear
			.sn-input-group
				input.sn-form-control.js-phone-input-autoprefix(type="text", name="phone", placeholder="Телефон")
				small Заполните поле
				button.sn-input-group__clear
		.sn-popup-btns
			button.sn-btn(type="submit") Заказать звонок