.sn-popup.--route-terms
	.sn-popup__content
		.sn-popup-route-terms
			.sn-popup-route-term
				span.sn-popup-route-term__prop Старт: 
				| 2 августа, 15:00 (местное время), Интурист, пл. Ленина, 13, Пятигорск, Ставропольский край 357503, Россия
			.sn-popup-route-term
				span.sn-popup-route-term__prop Финиш: 
				| 14 августа, 18:00 (местное время), Интурист, пл. Ленина, 13, Пятигорск, Ставропольский край 357503, Россия
			.sn-popup-route-term
				span.sn-popup-route-term__prop Язык : 
				| русский, ангийский
	button.sn-popup__close(data-fancybox-dragclose)

