.sn-popup.--cancel-conditions
	.sn-popup__heading.d-none.d-md-block Условия отмены
	.sn-popup__content
		.sn-popup-cancel-conditions.
			Цена бронирования входит в
			общую стоимость тура и
			является невозвратной. В
			случае отмены участия по
			вашей инициативе предоплата не
			возвращается, но
			может быть перенесена на
			другой
			тур. Остальная часть стоимости тура оплачивается непосредственно перед
			началом тура.
