header.header.menu_fixed
	#preloader
		div(data-loader='circle-side')
	.container.container-sn
		#logo
			a(href='//strahu-net.com/')
				img.logo_normal(src='img/logo.svg' width='99' height='46' alt='').logo_desktop
				img.logo_sticky(src='img/logo_sticky.svg' width='99' height='46' alt='').logo_desktop
				img.logo_normal(src='img/logo_sticky.svg' width='57' height='26' alt='').logo_mobile
				img.logo_sticky(src='img/logo_sticky.svg' width='57' height='26' alt='').logo_mobile

		ul#top_menu.d-none.d-lg-block
			li.top-menu-msg-item
				a(href="/popup_callback_msg.html" data-fancybox data-type="ajax" data-touch="drag-bottom")
					span.icon
			li.top-menu-bell-item.__variant_1(style="display:none")
				a(href="#").position-relative
					span.top-menu-icon.top-menu-icon--bell
					span.m-top-menu-notific-count.position-absolute
						span.m-top-menu-notific-count__num 2
						span.m-top-menu-notific-count__circle
			li.top-menu-lang-item
				span.sn-menu-select.js-sn-menu-select(data-body-class="sn-menu-select").--default.--top-menu-wide
					select
						option(value="RUB") RUB
						option(selected, value="USD") USD
			li.top-menu-lang-item
				span.sn-menu-select.js-sn-menu-select(data-body-class="sn-menu-select-lang").--default.--lang-short
					select
						option RU
						option(selected) EN
			li.__variant_0
				button(type="button").sn-btn-elegant Войти
			li.top-menu-user-item.__variant_1(style="display:none")
				a(href="#").top-menu-user
					i.icon-user-1


		a.btn_mobile(href='#menu')
			#hamburger.hamburger.hamburger--spin
				.hamburger-box
					.hamburger-inner

		ul.m-top-menu#m_top_menu.d-lg-none
			li.m-top-menu-item.--msg
				a(href="/popup_callback_msg.html" data-fancybox data-type="ajax" data-touch="drag-bottom")
					span.top-menu-icon.top-menu-icon--msg
			li.m-top-menu-item.--bell.__variant_0
				a(href="javascript:void(0);").position-relative
					span.top-menu-icon.top-menu-icon--bell
					span.m-top-menu-notific-count.position-absolute
						span.m-top-menu-notific-count__num 2
						span.m-top-menu-notific-count__circle
			li.m-top-menu-item.--bell.__variant_1(style="display:none")
				a(href="javascript:void(0);").position-relative
					span.top-menu-icon.top-menu-icon--bell
			li.m-top-menu-item.--burger
				a(
					href="/popup_menu_mobile.html"
					data-fancybox
					data-type="ajax"
					data-touch="drag-right"
				).js-m-menu-show
					span.top-menu-icon.top-menu-icon--burger

	nav#menu.main-menu
		ul
			li.main-menu__item.d-none.d-xl-inline-block
				span
					a(href='#0') Все туры
				ul
					li
						a(href='index.html') Раздел меню
					li
						span
							a(href='#0') Раздел меню
						ul
							li
								a(href='#') Раздел меню
							li
								a(href='#') Раздел меню

			li.main-menu__item.d-none.d-xl-inline-block
				span
					a(href='#0') Прокат
				ul
					li
						a(href='index.html') Раздел меню
					li
						span
							a(href='#0') Раздел меню
						ul
							li
								a(href='#') Раздел меню
							li
								a(href='#') Раздел меню

			li.main-menu__item.d-none.d-xl-inline-block
				span
					a(href='#0') Магазин
				ul
					li
						a(href='index.html') Раздел меню
					li
						span
							a(href='#0') Раздел меню
						ul
							li
								a(href='#') Раздел меню
							li
								a(href='#') Раздел меню
								
			li.main-menu__phone
				span
					a(href='tel:+74951087465') +7 495 108 74 65
			li.main-menu__callback
				span
					a(href="/popup_callback_contact.html" data-fancybox data-type="ajax" data-touch="drag-bottom").link-highlight Заказать звонок